.WelcomeStory {
  display: flex;
  gap: 100px;
  padding: 50px 100px;
  align-items: center;
  background: #f5f6f8;
}
.welcomeStory1 > h1 {
  font-family: "Harmattan";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: #292929;
  padding-bottom: 20px;
}
.welcomeStory1 > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
}
.imgTag {
  position: relative;
}
.imgTag > img {
  width: 100%;
  height: 296px;
}
.tag_s {
  position: absolute;
  bottom: 25px;
  left: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #fdfeff;
  width: 84px;
  height: 34px;
  text-align: center;
  background: #6397e6;
  border-radius: 5px;
}
.biggest {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #292929;
}
.kudaT {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}
.kudaT > h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  letter-spacing: 0.02em;
  color: #9a9a9a;
}
.kudaspan {
  color: rgba(41, 41, 41, 1);
}
.storyPara {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.02em;
  width: 40ch;
  color: #7b7b7b;
}

.rectangle {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  row-gap: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.tangle {
  width: 25.3%;
}
.readMore {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 18px;
  letter-spacing: 0.02em;
  color: #0086b0;
}
/* @media (max-width: 1400px) {
  .rectangle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

} */
@media (max-width: 1200px) {
  .scrabbleStory {
    width: 100%;
  }
  .tangle {
    width: 30%;
  }
}
@media (max-width: 1050px) {
  .WelcomeStory {
    flex-direction: column;
  }
}
@media (max-width: 920px) {
  .storyPara {
    width: 38ch;
  }
}
@media (max-width: 760px) {
  .storyPara {
    width: 33ch;
  }
}
@media (max-width: 620px) {
  .storyPara {
    width: auto;
  }
  .tangle {
    width: 60%;
  }
}
@media (max-width: 540px) {
  .WelcomeStory {
    padding: 50px 50px;
  }
  .welcomeStory1 > h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .welcomeStory1 > p {
    font-size: 18px;
    line-height: 26px;
  }
  .tangle {
    width: 70%;
  }
  .imgTag > img {
    height: 250px;
  }
  .rectangle {
    gap: 60px;
  }
}
@media (max-width: 440px) {
  .WelcomeStory {
    padding: 40px 40px;
  }
  .tangle {
    width: 80%;
  }
  .imgTag > img {
    height: 200px;
  }
}
